.painter-wrapper {
  flex: 1;
  padding: calc(var(--space) * 1.5);
  border-left: 1px solid var(--ui-black-transparent);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-bottom: 0.5rem;
  min-height: 3rem;
}

.row-fill {
  flex-direction: row;
  padding-top: calc(var(--space) * 2.5);
  border-top: 1px dashed var(--ui-black-transparent);
  flex: 1;
}

.row-bottom {
  justify-content: space-between;
  margin-right: var(--space);
  margin-left: calc(7em + var(--space));
}

.row:last-child {
  margin-bottom: 0;
  min-height: unset;
}

.group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: calc(var(--space) * 1.5);
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.dashed-border {
  border-right: 1px dashed var(--ui-black-transparent);
  padding-right: var(--space);
}

.name-input {
  width: 8rem;
}

.large-input {
  width: 4rem;
}

.tool-icon {
  margin-right: var(--space);
  width: 2rem;
  height: 2rem;
}

.label-image {
  vertical-align: middle;
  margin-right: calc(var(--space) / 2);
}

.button {
  width: calc(2rem + 2px);
  height: calc(2rem + 2px);
  padding: 0.375rem;
}

.text-button {
  height: calc(2rem + 2px);
  padding: 0.375rem;
}

.button-icon {
  margin: auto;
  width: 1.5rem;
}

.group-button {
  border-left: none;
  border-radius: 0;
}

.group-button-first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.group-button-last {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.group-button-toggled-off {
  filter: saturate(0);
}

.label-button {
  border: 0;
  font-weight: normal;
}

.label-button.selected {
  background: var(--motion-primary);
  color: var(--ui-white);
}

.label-button.selected .button-icon {
  filter: brightness(0) invert();
}

.draw-box-wrapper {
  overflow: hidden;
  flex: 1;
  position: relative;
  margin: 0 var(--space);
  border: 1px solid var(--ui-black-transparent);
  border-radius: calc(var(--space) / 2);
}
